<%- include('../partials/header')%>

<table id="all-workouts">
  <h1>WORKOUTS</h1>
  <thead>
    <tr>
      <th>Name of Workout</th>
      <th>Level</th>
      <th>Equipment needed?</th>
      <!-- <th>Completed on:</th> -->
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(function(w) { %>
    <tr>
      <td><%= w.title%></td>
      <td><%= w.level%></td>
      <td><%= w.equipment ? 'Yes' : 'No'%></td>
      <!-- <td>< w.completed_on </td> -->
      <td><a href="/workouts/<%=w._id%>/edit ">Edit here</a></td>
    </tr>
    <%}); %>
  </tbody>

  <% if (user) { %>
    <form id="add-workout" action="/workouts" method="POST">
    <label>Exercise</label>
    <input type="text" name="title" />
    <label>Level</label>
    <select name="level">
        <option value="Beginner">Beginner(easy)</option>
        <option value="Intermediate">Intermediate(medium)</option>
        <option value="Experienced">Experienced(hard)</option>
    </select>
    <label>Equipment</label>
    <input type="checkbox" name="equipment" checked />
    <input type="submit" value="Add Workout" />
    <!-- <label>Completed on:</label>
    <input type="datetime-local" name="completed_on" required>
    <input type="submit" value="Add date"> -->
  </form>
<% } %>
</table>

<%- include('../partials/footer')%>
