
<%- include('../partials/header') %>

<section id="edit-review">
    <form action="/reviews/<%=review._id %>?_method=PUT" method="POST">
     <label>Content:
     <input type="text" name="content" 
     value="<%= review.content%>">
    </label><br>
     <label>Rating:
     <input type="text" name="rating" value="<%= review.rating%>">
    </label><br>
     <button type="submit">Save</button>
    </form>
</section>
<%- include('../partials/footer') %>