<%- include('../partials/header')%>

<section id="edit-form">
    <form action="/recipes/<%=recipe._id %>?_method=PUT" method="POST">
     <label>Name:
     <input type="text" name="name" 
     value="<%= recipe.name%>">
    </label><br>
     <label>Ingredients:
     <input type="text" name="ingredients" value="<%= recipe.ingredients%>">
    </label><br>
    <label>Instructions:
        <input type="text" name="instructions" value="<%= recipe.instructions%>">
    </label><br>
     <button type="submit">Save</button>
    </form>
</section>


<%- include('../partials/footer')%>