<%- include('../partials/header')%>
<section id="edit-form" class="container-fluid">
  <h2>Edit Recipe</h2>
  <form action="/recipes/<%=recipe._id %>?_method=PUT" method="POST">
    <h1>
      Name:
      <textarea id="textarea" name="name" rows="1"><%= recipe.name%></textarea>
    </h1>
    <br />
    <h1>
      Ingredients:
      <textarea name="ingredients" id="textarea" id="myTextarea" rows="1">
 <%=recipe.ingredients %></textarea
      >
    </h1>
    <br />
    <h1>
      Instructions:
      <textarea name="instructions" id="textarea">
 <%=recipe.instructions%></textarea
      >
    </h1>
    <script>
      tinymce.init({
        selector: "textarea#textarea",
        // plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar:
          "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  table | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
      });
    </script>
    <button type="submit">Save</button>
  </form>
</section>

<%- include('../partials/footer')%>
