<%- include('../partials/header')%>


<table id="list">
    <h1>RECIPES</h1>
    <thead>
    <tr>
        <th> Name</th>
    </tr>
 
    </thead>  
    <tbody>  
     
    <% recipes.forEach(function(r) { %>
        <tr>
            <td>
                <% if (user)  { %>
                <form  action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <% } %>
            </td>
        <td><%= r.name %></td>
        <td><%= r.timeCooking %></td>
        <td><a href="/recipes/<%= r._id%>">Details</a></td>
        <td><a href="/recipes/<%=r._id%>/edit ">Edit Recipe</a></td>
      </tr> 
   <% }); %>
   
  
</tbody>
</table>
<% if (user) { %>
 <form  id="new-recipe" action="/recipes" method="POST">
    <% } %>
    <div>Name:</div>
    <input type="text" name="name">
    <!-- <div>Time Cooking</div>
    <input type="number" name="timeCooking">
     <select name="timeCooking">
        <option value="Hours">hours</option>
        <option value="Minutes">minutes</option>
    </select>  -->
    <div>Ingredients:</div>
    <input type="text" name="ingredients">
    <div>Instructions:</div>
  <input type="text" name="instructions">
  <button type="submit">New recipe!</button>
     
</form>  

<%- include('../partials/footer')%>