<%- include('../partials/header')%>

<table id="list">
    <h1>RECIPES</h1>
    <thead>
    <tr>
        <th>Name</th>
        <th>Time<br>Cooking</th>
    </tr>
    </thead>  
    <tbody>
    <% recipes.forEach(function(r) { %>
        <tr>
        <td><%= r.name %></td>
        <td><%= r.timeCooking %></td>
        <td><a href="/recipes/<%= r._id%>">Details</a></td>
      </tr>
   <% }); %>

  
   <!-- <a href="/recipes/new">ADD NEW RECIPE</a> -->
</tbody>
</table>

<!-- <form id="new-recipe" action="/recipes" method="POST">
    <div>Name</div>
    <input type="text" name="name">
    <div>Time Cooking</div>
    <input type="number" name="timeCooking">
    <div>Ingredients</div>
    <textarea name="content" ></textarea>
    <div>Instructions</div>
    <textarea name="content" ></textarea>
    <input type="submit" value="Add Recipe">  

</form>  -->

<%- include('../partials/footer')%>