<%- include('../partials/header')%>
<!--   -->
<!-- List of Recipes  -->
<br>
<table class="table-responsive">
  <h1>RECIPES</h1>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <tbody class="table-group-divider">
        <!-- <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th> -->
      </tbody>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(r) { %> <% if (user?._id.equals(r.user)) { %>
    <tr>
      <th scope="row"></th>
      <td>
        <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
          <button id="deletebtn" type="submit">X</button>
        </form>
        <% } %>
      </td>
      <td><%- r.name %></td>
      <td><%- r.timeCooking %></td>
      <td><a href="/recipes/<%= r._id%>">Details</a></td>

      <% if (user?._id.equals(r.user)) { %>
      <!-- <td>
        <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      </td> -->
      <td><a href="/recipes/<%=r._id%>/edit ">Edit Recipe</a></td>
      <% } %>
    </tr>
  </tbody>
    <% }); %>
  </tbody>
</table>
<br>
  <!-- Create new Recipe  -->
  <% if (user) { %>
    <form id="new-recipe" action="/recipes" method="POST">
      <% } %>
      <div style="padding-left: 35px">Name:</div>
      <textarea type="text" name="name" required></textarea>
      <!-- <div>Time Cooking</div>
        <input type="number" name="timeCooking">
         <select name="timeCooking">
            <option value="Hours">hours</option>
            <option value="Minutes">minutes</option>
        </select>  -->
      <div>Ingredients:</div>
      <textarea  type="text" name="ingredients" rows="3" required></textarea>
      <div>Instructions:</div>
      <textarea
        id="textarea"
        type="text"
        name="instructions"
        rows="3"
        required
      ></textarea>
   
      <button class="btn"  type="submit">New recipe!</button>
    </form>
    
    
<%- include('../partials/footer')%>
